.product_name{
    font-size: x-small;
}
.Samsung{
    width: 20vh;
}
.product_name:hover{
    color: rgb(255, 195, 83);
}
.fastar{
    color: rgb(255, 195, 83);
}
.result{
    padding-top: 1vh;
}
.strike{
    text-decoration: line-through;
    padding-left: 10px;
}
.product_mob{
    margin-top: 1vh;
}
.oppo{
    padding-left: 10vh;
}
.left_con{
    font-size: small;
}
.brand{
    padding-top: 2vh;
    font-weight: 700;
}
.left_con1{
    font-size: medium;
}
