.carousel{
    margin-left: 2vh;
    margin-right: 2vh;     
}
.car1{
    background-image: linear-gradient(white,#eaeded);
    height: 100vh;
    margin-top: -1.5vh;
    position: sticky;
}
.division1{
    background-color: white;
    height: 50vh;
    width: 30%;
    color: black;
    border: none;
    margin-left: -25vh;
}  
.division{
    display: flex;
    flex-direction: row;
    margin-bottom: -30px;
    /* margin-top: 0; */
}
.division2{
    background-color: white;
    height: 50vh;
    width: 30%;
    color: black;
    border: none;
    margin-left: 18px;
}  
.right{
    height: 10vh;
    color: black;
    /* margin-left: 160vh;     */
}
.right1{
    height: 10vh;
    color: white; 
}
.division3{
    background-color: white;
    height: 15vh;
    color: black;
    border: none;
    width: 30%;
    margin-left: 18px;
    margin-right: -25vh;
}
.text_1{
    text-align: left;
    padding-left: 10px;
    font-size: larger;
    font-weight: 500;
    padding-top: 15px;
    padding-right: 10px;
}
.text_2{
    text-align: left;
    padding-left: 20px;
    font-size: large;
    font-weight: 500;
    padding-top: 20px;
}
.su{
    background-color: #ffd814;
    border-radius: 10px;
    width: 40vh;
    border: none;
    outline: none;
    height: 30px;
}
/* @media only screen and(max-width:920px){
    .division1.division2.division3.right.right1.su.text_1.text_2{
        height: 20vh;
    }
} */
